.Navigation{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 37px;
  box-shadow: 0 5px 15px;
  margin-top: 1%;
  margin-left:0.6%;
  width: 1435px;
  height: 80px;
  border-radius: 10px;
  z-index: 9999;
  position: fixed;
  
}
.logo{
  color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3rem;
  cursor: pointer;
  
  
}
.ul{
  display:grid;
  grid-template-columns: repeat(7,auto);
  grid-gap: 120px;
  align-items: center;
}
.style{
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
}
.sign{
  padding: 0.5rem 1rem;
  white-space: nowrap;
  background-color: black;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
}






